html, body {
    overflow-x: hidden;
}


body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.slideshow {
    height:400px;
    width:58%;
}

.carousel-inner {
    height: 400px;
    width: 100%;
    background-color: black;
}

.carousel_image {
    height: 400px !important;
    margin: auto;
    margin: auto;
}

.wrapper {
    display:flex;
    flex-direction:column;
    width:100%;
    margin:auto;
}

.site_body {
    background-color: #222;
}

.game_container {
    display: flex;
    width:60%;
    flex-direction: row;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 30px !important;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
}


.game_info {
    width: 21%;
    height: 400px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

#game_info_1 {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#game_info_1 > p {
        width: 100%;
        text-align: center;
        margin:0;
        color: white;
        height: auto;
        background-color: #383838;
        box-shadow: 1px 10px 27px -1px rgba(0,0,0,0.75);
    }

.release_date_text {
    font-size:2em;
}
.game_name {
    font-size: 2.5em;
}

.DatePicker_Form {
    height:30px;
}

.DatePicker {
    background-color:black;
}

.game_info:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}


.YT_trailer {
    width: 100%;
    height: 400px;
}

.carousel-control {
    width: 5% !important;
}

.datepicker_div {
    display: flex !important;
    flex-direction: row !important;
    margin-right:10px;
}

.datepicker_div > div {
    width:50px;
}

.date_wrapper {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

form {
    display:flex;
    flex-direction:row;
}

footer {
    height:40px;
}

footer > p {
    text-align:center;
    color:white;
    margin:0;
    font-size:1.1em;
    margin-top:20px;
}

#loadingdiv {
    text-align:center;
}

.loading_div {
    display:flex;
    height:20px;
    margin-top:10px;
    justify-content:center;
    width:100%;
}

.PC_logo {
    width: 12.5%;
    height: 100%;
}

.PS4_logo {
    width: 12.5%;
    height: 100%;
}

.XBOX_logo {
    width: 12.5%;
    height: 100%;
}

.SWITCH_logo {
    width: 12.5%;
    height: 100%;
}

.platform_container {
    display: flex;
    height: 200px;
    flex-direction:column !important;
    background-color: #383838;
}

.platform_text {
    color:white;
}
.release_text {
    color:white;
}


@media only screen and (max-width:1600px) {
    .game_container {
        width: 80% !important;
    }
    .game_info {
        height: 450px !important;
        background-color: #383838;
    }
    .carousel-inner {
        height: 450px !important;
    }
    .YT_trailer {
        height: 450px !important;
    }
    .slideshow {
        height: 450px !important;
    }
    .carousel_image {
        height: 450px !important;
    }
}


@media only screen and (max-width:500px) {
    .game_container {
        width: 100% !important;
        flex-direction:column;
    }

    .game_info {
        height: 50px !important;
        width:100%
    }

    .game_info > p {
        font-size:1.3em;
    }

    .carousel-inner {
        height: 250px !important;
        width:100%;
    }

    .YT_trailer {
        height: 250px !important;
        width: 100%;
    }

    .slideshow {
        height: 250px !important;
        width: 100%;
    }

    .carousel_image {
        height: 250px !important;
        width: 100%;
    }
    .date_wrapper {
        visibility:hidden !important;
    }
}

